<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ProductPage</title>
<script th:inline="javascript">
    var message = /*[[${message}]]*/
    console.log(message);
    if(message != null){
    	alert(message);
    }
    
   
    
</script>
 <!-- Header 區 -->
 <th:block th:include="./include/header :: header"></th:block>
</head>
<body>
 <!-- 選單區 -->
 <th:block th:include="./include/navbar :: navbar"></th:block>
 
 <!-- Context區 -->
 
 <div class="container my-2">
  <h1>Product 頁面</h1>
  <br />
  <form action="#" th:action="@{/product/}" th:object="${product}" th:method="${_method}">
    <div class="form-group">
       <input type="hidden" th:field="*{id}" />
       
       <!-- 商品名稱 -->  
       <label style="font-size: 20px;">商品名稱 :</label>
       <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="請輸入商品名稱(命名模式 : 供應商(不填)商品名稱)" />
       <span class="fieldError" th:if="${#fields.hasErrors('*{name}')}" th:errors="*{name}"></span>
       <br />
       
       <!-- 商品成本 -->  
       <label style="font-size: 20px;">商品成本 :</label>
       <input type="text" th:field="*{cost}" id="cost" class="form-control" placeholder="請輸入商品成本" />
       <span class="fieldError" th:if="${#fields.hasErrors('*{cost}')}" th:errors="*{cost}"></span>
       <br />
       
       <!--商品售價 -->  
       <label style="font-size: 20px;">商品售價 :</label>
       <input type="text" th:field="*{price}" id="price" class="form-control" placeholder="請輸入商品成本" />
       <span class="fieldError" th:if="${#fields.hasErrors('*{price}')}" th:errors="*{price}"></span>
       <br />
       
       <!--商品描述 -->  
       <label style="font-size: 20px;">商品備註 :</label>
       <textarea cols="50" rows="5" th:field="*{notice}" id="notice" class="form-control" placeholder="備註"></textarea>
       <span class="fieldError" th:if="${#fields.hasErrors('*{notice}')}" th:errors="*{notice}"></span>
       <br />
       
    </div>
    <br />
    <input type="submit" class="btn btn-primary" th:value="${_method}">
    <a type="button" th:href="@{/product/}" class="btn btn-warning" >重置</a>
  </form>
  
  <br />
  
  <h1>部門列表</h1><p/>
  <table border="1" class="table table-striped table-responsive-md">
   <thead>
    <tr>
       <th>序號</th>
       <th>商品名稱</th>
       <th>商品成本</th>
       <th>商品售價</th>
       <th>商品提供者</th>
       <th>備註</th>
       <th>修改(SPA)</th>
       <th>修改(跳頁)</th>
       <th>刪除</th>
       <th>廣告發送</th>
       
    </tr>
   </thead>
   <tbody>
    <tr th:each="p : ${products}">
     <td th:text="${p.id}"></td>
     <td th:text="${p.name}"></td>
     <td th:text="${p.cost}"></td>
     <td th:text="${p.price}"></td>
     <td>
      <span th:each=" p : ${p.purchaseItems}">
       <font th:text="${p.purchase.supplier.name}"></font>
      </span>
     </td>
     <td th:text="${p.notice}"></td>
     <td>
      <a th:href="@{/product/{id}(id=${p.id})}" class="btn btn-primary">修改(SPA)</a>
     </td>
     <td>
      <a th:href="@{/product/edit/{id}(id=${p.id})}" class="btn btn-primary">修改(跳頁)</a>
     </td>
     <td>
      <a onclick="var del = (confirm('確定要刪除嗎?')); return del" th:href="@{/product/delete/{id}(id=${p.id})}" class="btn btn-danger">刪除</a>
     </td>
     <td>
      <a onclick="var con = (confirm('確定要發送嗎?')); return con" th:href="@{/product/line/{id}(id=${p.id})}" class="btn btn-success">發送 Line</a>
     </td>
    </tr>
   </tbody>
  </table>
   <div id="message" class="fieldError"  th:text="${message}">0</div>
 </div>
 <!-- footer區 -->
 <th:block th:include="./include/footer :: footer"></th:block>
</body>
</html>