<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PurchasePage</title>
<script th:inline="javascript">
    var message = /*[[${message}]]*/
    console.log(message);
    if(message != null){
    	alert(message);
    }
    
    var resultMsg = /*[[${resultMsg}]]*/
        console.log(resultMsg);
    if(resultMsg != null){
    	alert(resultMsg);
    }    
    
</script>
 <!-- Header 區 -->
 <th:block th:include="./include/header :: header"></th:block>
</head>
<body>
 <!-- 選單區 -->
 <th:block th:include="./include/navbar :: navbar"></th:block>
 
 <!-- Context區 -->
 
 <div class="container my-2">
  <h1>Purchase 頁面</h1>
  <br />
  <form action="#" th:action="@{/purchase/}" th:object="${purchase}" th:method="${_method}">
    <div class="form-group">
       <input type="hidden" th:field="*{id}" />
       
       <!-- 採購日期 -->  
       <label style="font-size: 20px;">採購日期(預設今天日期) :</label>
       <input type="date" th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}" 
              id="date" class="form-control"  />
       <br />
       
       <!-- 選擇經手人員 -->
       <label style="font-size: 20px;">經手人員 :</label>
       <select class="form-control select2" th:field="*{employee.id}" id="employee.id">
		  <option th:each="e:${employees}" th:value="${e.id}" th:text="${e.name}"></option>
	   </select>
	   <br />
	   
	   <!-- 選擇商品供應者人員 -->
       <label style="font-size: 20px;">供應商 :</label>
       <select class="form-control select2" th:field="*{supplier.id}" id="supplier.id">
		  <option th:each="s:${suppliers}" th:value="${s.id}" th:text="${s.name}"></option>
	   </select>
	   
    </div>
    <br />
    <input type="submit" class="btn btn-primary" th:value="${_method}">
    <a type="button" th:href="@{/purchase/}" class="btn btn-warning" >重置</a>
  </form>
  
  <br />
  
  <h1>採購單列表</h1><p/>
  <table border="1" class="table table-striped table-responsive-md">
   <thead>
    <tr>
       <th>序號</th>
       <th>經手人員</th>
       <th>供應商</th>
       <th>採購商品</th>
       <th>下單日期</th>
       <th>採購總成本</th>
       <th>訂單細目</th>
       <th>修改(SPA)</th>
       <th>修改(跳頁)</th>
       <th>刪除</th>
    </tr>
   </thead>
   <tbody>
    <tr th:each="p : ${purchases}">
     <td th:text="${p.id}"></td>
     <td th:text="${p.employee.name}"></td>
     <td th:text="${p.supplier.name}"></td>
     <td>
      <span th:each=" p , status : ${p.purchaseItems}">
       <font th:utext=" '商品Id:' + ${status.index} + '(' + ${p.product.name}+ ')' + '<br>'" ></font>
      </span>
     </td>
     <td th:text="${p.date}"></td>
     <td th:text="${p.total}"></td>
     <td>
      <a th:href="@{/purchase/{id}/item(id=${p.id})}" class="btn btn-primary">細目</a>
     </td>
     <td>
      <a th:href="@{/purchase/{id}(id=${p.id})}" class="btn btn-primary">修改(SPA)</a>
     </td>
     <td>
      <a th:href="@{/purchase/edit/{id}(id=${p.id})}" class="btn btn-primary">修改(跳頁)</a>
     </td>
     <td>
      <span th:switch="${p.total} ">
        <span th:case="0">
          <a onclick="var del = (confirm('確定要刪除嗎?')); return del" th:href="@{/purchase/delete/{id}(id=${p.id})}" class="btn btn-danger">刪除</a>
        </span>
        <font color="red" th:case="*">此訂單尚有細目</font>
      </span>
     </td>
    </tr>
   </tbody>
  </table>
   <div id="message" class="fieldError"  th:text="${message}">0</div>
 </div>
 <!-- footer區 -->
 <th:block th:include="./include/footer :: footer"></th:block>
</body>
</html>